<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>

		<aspNetCore processPath="dotnet" arguments=".\RedAJP.dll" stdoutLogEnabled="false" hostingModel="outofprocess">
		</aspNetCore>

		<security>
			<requestFiltering>
				<fileExtensions>
					<add fileExtension=".data" allowed="false" />
					<add fileExtension=".json" allowed="false" />
				</fileExtensions>
			</requestFiltering>
			<authentication>
				<anonymousAuthentication enabled="true" />
			</authentication>
		</security>

		<staticContent>
			<remove fileExtension=".data" />
			<mimeMap fileExtension=".data" mimeType="application/octet-stream" />
		</staticContent>

		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>